.button_lang {
    display: block;
    float: right;
    background-color: transparent;
    margin: 0;
    color: rgb(78, 76, 76);
    font-weight: 700;
    text-transform: uppercase;
    outline: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    border: none;
}

.button_lang:hover {
    border: none;
    background-color: transparent;
    outline: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    opacity: 0.5;
}

.button_lang:focus {
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    outline: none;
    background-color: transparent;
    opacity: 0.5;
}

.bg_top_nav{
    background-color: #e8e826;
    display: flex;
    justify-content: end;
}


